body {
  text-align: center;
}
img {
  max-height: 300px;
  width: auto;
}
#imageDiv {
  height: 300px;
}
#predictions {
  width: auto;
  height: 200px;
}
#input {
  margin: auto;
}
#imageDiv {
  height: 380px;
}
